.orderAdmin {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center; /* Centro el contenido del componente */
  }
  
  .orderListTitle {
    font-size: 24px;
    font-weight: 600;
  }
  
  .orderTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  .refreshOrder{
    cursor: pointer;
    color:#0052a7
  }
  
  .orderTable th, .orderTable td {
    padding: 8px;
    text-align: left;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .orderTable th svg {
    vertical-align: middle;
    margin-left: 5px;
  }
  
  .viewDetailsButton {
    background-color: #0074cc;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .viewDetailsButton:hover {
    background-color: #0052a7;
  }
  
  .divArrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .orderTableWrapper {
    width: 100%;
    height: 600px;
    overflow-x: auto;
  }
  
  .filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
  }
  
 
  .searchBar {
    font-size: 15px;
    flex: 1; 
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    
  }
  
  .searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .statusCircle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .statusCircleGreen {
    background-color: #00ff00;
  }
  
  .statusCircleOrange {
    background-color: #ff9900;
  }
  
  .statusCircleRed {
    background-color: #ff0000;
  }

  @media (max-width: 400px) {
    .filters {
      flex-direction: column; 
      align-items: center; 
      margin-bottom: 10px; 
    }
  }
  

  .refreshOrder,
  .MuiFormControl-root {
    margin-top: 10px;
    margin-bottom: 10px; 
  }

  