.box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding:10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3)
}

.box:hover input{
    width: 260px;
}
.box input{
    width: 0px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.box a .fas{
    color: #1daf;
    font-size:18px
}