.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card2 {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 30px; 
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px; 
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.formGroup {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.contactInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  color: #333;
}


.textArea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  color: #333;
  resize: none; 
  height: 150px; 
}

.contactSubmitButton {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.contactSubmitButton:hover {
  background-color: #1e7e34;
  color: #fff;
}