.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card_contact {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
}

.leftContent {
  flex: 1;
  padding: 20px;
  background-color: #443f3b;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  overflow: visible;
}

.textContainer {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.upperHalf {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  text-align: center; 
}

.lowerHalf {
  flex: 1;
  margin-top: 100px;
}

.lowerHalf p {
  font-size: 16px;
  margin: 5px 0;
  color: #aaa;
  text-align: left; 
}
  
  .formGroup {
    margin-bottom: 20px;
  }

  .rightContent {
    flex: 1.4;
    padding: 20px;
    background-color: #82b37b;
    align-items: flex-end;
  }

  
  .contactInput {
    margin-bottom: 20px; 
  }
  
  .textArea {
    height: 150px; 
    margin-bottom: 20px; 
    resize: none;
  }

  .contactInput,
  .textArea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff; 
    border-radius: 0px;
    color: #fff; 
    background-color: #82b37b; 
    caret-color: #fff; 
  }


  .contactInput::placeholder,
  .textArea::placeholder {
    color: #fff; 
  }

  .contactSubmitButton {
    width: 200px;
    background-color: #4b4b4b;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 15px 30px; 
    cursor: pointer;
    margin-left: auto; 
    display: block; 
  }




  @media (max-width: 768px) {
    .card_contact {
      flex-direction: column;
      height: auto;
    }
    .lowerHalf, .p{
      display: none;
    }
  }

  @media (max-width: 650px) {
   .contactSubmitButton{
      width: 100%;
   }
  }
