.filtros{
    display: flex;
    align-items:center ;
    justify-content:flex-start;
    margin-top: 20px;
    margin-left: 50px;
    gap: 20px;
    color: rgb(0, 133, 0);
}

.order {
    font-family: 'Poppins', sans-serif;
    padding: 10px; 
    font-size: 18px; 
    border: none;
    color: rgb(5, 165, 0); 
    border-radius: 5px; 
    appearance: none; 
    outline: none;
    cursor: pointer; 
   
  }
  
  .refresh{
    cursor: pointer;
    min-width: 20px;
  }

  
  .order option {
    color: rgb(27, 117, 0); 
  }
  

  .order option:checked {
    background-color: #4e4e4e; 
    color: white; 
  }

.title {
  color: #333; 
  font-weight: bold; 
  cursor: not-allowed; 
}

.pagination {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.paginationButton {
  background-color: #30ff94;
  color: #f51515;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.paginationButton:hover {
  background-color: #20ff5f;
}

.currentPage {
  background-color: #20ff5f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
}

.divCountries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.pagination{
  justify-content: center;
  margin-left: 35%  !important;
  
}



