.image{
position: relative;
width: 100px;
}

.name{
    position: relative;
    left: 130px;
    top: -50px;
}

.price{
    position: relative;
    left: 300px;
    top: -70px;
}

.amount{
    position: relative;
    left: 500px;
    top: -97px;
}

.total{
    position: relative;
    left: 700px;
    top: -117px;
}
.border-radius{
    position: relative;
    border: 2px solid rgb(219, 214, 214);
    border-radius: 50%;
    background-color: rgba(197, 191, 191, 0.7);
    width: 30px; 
    height: 30px;
    left: 850px;
    top: -140px;
}
.border-radius .exit{ 
    position: relative;
    left: 6.9px;
}

.decoration {
    position: relative;
    width: 50%; 
    height: 1px; 
    top: -50px;
    background-color: rgba(128, 128, 128, 0.7);

  }